*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.top{
    display: flex;
    background-color: #1F2937;
    padding: 10px 190px 10px 190px;
}

.header{
    display: flex;
    justify-content: space-between;
    flex: 1 1 auto;
    align-items: center;
}

.header .left{
    display: flex;
    align-items: center;
    gap: 10px;
}

.left h1{
    font-size: 24px;
    color: white;
}

.left img{
    height: 35px;
}

.header .right{
    color: white;
    display: flex;
    justify-content: space-evenly;
    width: 250px;

}

.right a{
    color: white;
    text-decoration: none;
}